* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.errors {
  color: red;
  font-size: 40px;
  margin-top: 60px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  width: 30%;
  height: 700px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 0.5em;
  color: rgb(255, 255, 255);
  font-size: 4.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 1.3em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  margin-bottom: 30px;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 30px
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.button1 {
  padding: 1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  font-size: larger;
}

.button1:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: #171717;
  color: white;
  font-size: larger;
  text-align: center;
  margin-top: 3%;
  padding: 3%;
}

nav {
  padding: 11px;
  background-color: #171717;
  text-align: center;
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: white;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.registr {
  flex: 1;
  text-align: center;
}

.registr a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.registr:hover {
  background-color: #333;
  color: #171717;
  font-size: larger;
}

.dih {
  text-align: center;
  font-size: 60px;
  margin-top: 25px;
}

.tabella {
  display: flex;
  margin: auto;
  width: 60%;
  text-align: center;
}

table {
  text-align: center;
  font-size: 30px;
}